MULTAGENTES/CRIAR_DESCRIÇÃO_E_TÍTULOS_CURSO/MA - Título do curso.json
{
  "name": "MA - Título do curso",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "topic"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -208,
        16
      ],
      "id": "2601b7fe-9a9a-4f29-a9c6-0244cf77cffe",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tópico:  {{ $json.topic }}",
        "options": {
          "systemMessage": "Baseado no tópico do artigo você deve enviar 5 sugestões de título"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        0,
        -80
      ],
      "id": "64033dcd-a535-4d97-99a3-878f4c346032",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -48,
        128
      ],
      "id": "22a0ed11-c140-40ed-b1dc-1cf1b5fc2b1e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JOqLvfTuYC8xacam",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "03457563-a601-4f87-843a-2ccfad0174f4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "47b6c29005312cd71f974d85ca071e587d52d442a7ce04e1a418df7382c639ca"
  },
  "id": "6j2xXUsxjqPNCmOf",
  "tags": []
}