MULTAGENTES/CRIAR_DESCRIÇÃO_E_TÍTULOS_CURSO/MA - Descrição do curso.json
{
  "name": "MA - Descrição do curso",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "topic"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        16
      ],
      "id": "ada151b4-30a0-407a-bef8-8f37dd83b1bd",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tópico do curso: {{ $json.topic }}",
        "options": {
          "systemMessage": "Baseado no tópico do curso, você deve criar uma descrição do curso baseada em tópicos e divididas por bullets."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        48,
        -48
      ],
      "id": "aa9187cf-edba-478c-be9a-1faa7608e59d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        128
      ],
      "id": "ea48a738-6b74-4b50-9d3e-1394a3689101",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JOqLvfTuYC8xacam",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "45cf3598-e687-42bc-9644-ab3b27720ee7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "47b6c29005312cd71f974d85ca071e587d52d442a7ce04e1a418df7382c639ca"
  },
  "id": "d78KyCzZ3DcCDYHU",
  "tags": []
}